In [1]:
import pandas as pd

ym = '2019-06'  #统计年月
rate = 6.3890   #当月汇率

path_ch = 'C:/Users/小奔/Desktop/编程练习/Python/数据分析/learnPython/data/ch.csv'
path_jp = 'C:/Users/小奔/Desktop/编程练习/Python/数据分析/learnPython/data/jp.csv'

#导入数据
df_ch = pd.read_csv(path_ch,
                    names=['id','input/output','type','money','datetime','comment','picture']
                    )

df_jp = pd.read_csv(path_jp,
                    names=['id','input/output','type','money','datetime','comment','picture'])

df_ch = df_ch.drop(0)
df_jp = df_jp.drop(0)

In [2]:
#抽出当月的数据

#将数据类型转换为日期类型
df_ch['datetime']= pd.to_datetime(df_ch['datetime'])
df_jp['datetime'] = pd.to_datetime(df_jp['datetime'])

#将日期设为索引
df_ch = df_ch.set_index(['datetime'])
df_jp = df_jp.set_index(['datetime'])

In [3]:
df_ch2 = df_ch[ym]
df_jp2 = df_jp[ym]

df_ch2

,id,input/output,type,money,comment,picture
datetime,,,,,,
2019-06-28 16:28:06,1982487162314988176\t,收入,投资,734.72,理财分红,NaN
2019-06-27 19:13:12,1981845485996905907\t,收入,投资,109.30,理财分红,NaN
2019-06-27 08:09:05,1981511229697335018\t,支出,人情,132.00,给曹珍寄签证材料,NaN
2019-06-26 19:39:47,1981134087645991551\t,收入,公积金,880.00,NaN,NaN
2019-06-26 12:14:45,1980910100101897983\t,收入,投资,34.45,理财分红,NaN
2019-06-24 18:26:24,1979647602728015405\t,收入,投资,26.00,收益（华夏上证50AH：1000元本金）,NaN
2019-06-23 09:27:44,1978651707404360398\t,支出,日用品,65.00,给佩宝买面膜,NaN
2019-06-15 20:01:28,1973172475656049732\t,收入,工资,6400.00,佩宝工资,NaN
2019-06-08 17:48:08,1968031929543334729\t,收入,工资,4003.34,小奔工资,NaN
2019-06-08 11:44:53,1967849106870017605\t,支出,交通,2180.00,机票,NaN
2019-06-03 19:21:21,1964454969001025304\t,收入,投资,119.19,理财分红,NaN

In [4]:
#转换日元汇率

#df_jp2['money'] = df_jp2['money']*rate/100

df_jp2['money'] = df_jp2['money'].map(lambda x : float(x)*rate/100)
df_jp2['money'] = df_jp2['money'].round(2)

c:\users\小奔\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
c:\users\小奔\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
df_ch2['money'] = df_ch2['money'].astype('float64')

df_ch2.info()

c:\users\小奔\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11 entries, 2019-06-28 16:28:06 to 2019-06-03 19:21:21
Data columns (total 6 columns):
id              11 non-null object
input/output    11 non-null object
type            11 non-null object
money           11 non-null float64
comment         10 non-null object
picture         0 non-null object
dtypes: float64(1), object(5)
memory usage: 396.0+ bytes

In [6]:
#合并两张表

df_reslut = df_ch2.append(df_jp2)

df_reslut = df_reslut.drop(columns = ['picture','id'])

df_reslut.describe()

              money
count     93.000000
mean     304.751505
std     1301.508474
min        3.900000
25%       12.650000
50%       36.420000
75%       50.350000
max    10040.380000

In [7]:
#消费行为统计

cash = df_reslut['money'].groupby(df_reslut['input/output'])

cash.sum()

input/output
支出     5994.51
收入    22347.38
Name: money, dtype: float64

In [8]:
#分组统计，排序

cash_flow = df_reslut.groupby(['input/output','type']).sum()

cash_flow.sort_values(['input/output','money'],ascending = False)

                      money
input/output type
收入           工资    20443.72
             投资     1023.66
             公积金     880.00
支出           交通     2243.89
             用餐     2222.34
             瑜伽      562.23
             通讯      233.33
             旅游      196.27
             人情      151.17
             汇款      127.78
             日用品      99.31
             服饰       48.11
             零食       41.21
             丽人       38.97
             饮料       17.25
             学习       12.65

In [9]:
#导出csv文件
path = 'C:/Users/小奔/Desktop/编程练习/Python/数据分析/learnPython/data/'+ ym +'.csv'

cash_flow.to_csv(path,encoding='gbk')